<!-- Template for front page. Client must provide:
     POSTS: Content of all frontpage posts. -->

<div class="row">
  <div id="front-banner" class="carousel">
    <div style="background-image: url('./images/front/1.jpg');height: 35.16vw; position: relative"><span class="carousel-text">We are the <span class="h3">Cornell Undergraduate Research Board</span>,<br>Cornell's undergraduate research community.<div style="margin-top: 0.5em"><a href="./about-us.html">Learn More</a><a href="./join.html" style="margin-left: 2em">Join CURB</a></div></span></div>
    <div><img src="./images/front/2.jpg"></div>
    <div><img src="./images/front/3.jpg"></div>
    <div><img src="./images/front/4.jpg"></div>
  </div>
</div>

<!--
<section class="post-content">
  <p>We are the <span class="bigger">Cornell Undergraduate Research Board</span>, Cornell's undergraduate research community.<br>We hold poster sessions, provide mentorship and host events with research faculty to help you explore your research passions.</p>
  <div>
    <span id="front-action-buttons">
      <a href="about-us.html" class="button">Learn more</a><a href="join.html" class="button">Join CURB</a>
    </span>
  </div>
</section>
-->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    $POSTS$
  </div>
  <div class="col-md-2"></div>
</div>

<script>
  $(document).ready(function() {
    $('.carousel').slick({
      dots: true,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 6000
    });
  });
</script>
