<<<<<<< HEAD
body {
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.content-track {
    width: 100%;
    margin: auto;
}
@media (min-width: 768px) {
    .content-track {
	width: 66.6667%;
	padding: 0;
    }
}

.row {
    padding: 0;
}

.header {
    padding: 0.5em;
    z-index: 9999;
    background-color: white;
    /*margin-bottom: 3em;*/
}
@media (min-width: 768px) {
    .header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
        height: 9em;
    }
}
@media (min-width: 1280px) {
    .header {
        height: 7.25em;
    }
}
.navbar-nav>li:hover {
    border-radius: 10px;
}
.navbar-nav>li ul li a {
    padding-left: 1em;
}
.navbar-nav>li ul li a:hover {
    background: white;
    color: #337ab7;
}
.navbar-nav>li a:hover {
    border-radius: 10px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: black;
}
.dropdown-toggle {
    border-radius: 10px;
}
.nav .dropdown-menu {
    background: #fff;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 14em;
    border-radius: 10px;
}
.nav>li {
    margin: 0.1em;
}
.nav>li .dropdown-menu {
    left: 0;
    text-align: left;
}
@media (min-width: 768px) {
    .nav>li:last-child .dropdown-menu {
	left: auto;
	right: 0;
	text-align: right;
    }
}

.header-menu {
    float: right;
}

.navbar-header .header-title {
    letter-spacing: 0.5pt;
    font-size: 1.75em;
    font-weight: 100;
    color: #05054a;
    text-decoration: none;
}
@media (min-width: 1280px) {
    .navbar-header .header-title {
	font-size: 2.3em;
    }
}

.header-logo {
    height: 2em;
    margin-right: 0.5em;
}

.header-title:hover {
    color: #05054a;
    text-decoration: none;
}

.header-tagline {
    font-size: 0.8em;
}

.navbar-default {
    background: transparent;
    border: 0;
    box-shadow: 0px 0px;
}

.navbar .join-menu-item a {
    color: #337ab7;
}

.page-header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    border-bottom: none;
    font-size: 1.1em;
}

.banner-top {
    margin-top: -2em;
}
.banner img {
    width: 100%;
}

.content {
    float: clear;
}
@media (min-width: 768px) {
    .content {
	margin-top: 9em;
    }
}
@media (min-width: 1280px) {
    .content {
	margin-top: 7.25em;
    }
}

.post {
    margin-bottom: 1em;
    font-size: 1em;
}

.page {
}

.page ul {
    font-size: 1.15em;
}

@media (max-width: 768px) {
    .post p, .page p {
	padding-left: 1em;
	padding-right: 1em;
    }
}

.page-title, .post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: 300;
}
.post-title {
    text-align: center;
}
.page-title {
    margin-left: 0.5em;
}

.post-meta {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: -0.5em;
}

p, .bottom-nav {
    font-size: 1.15em;
    margin: 0;
}

.navbar a {
    color: black;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
}
/*
a:hover {
    color: red;
}*/

.section-title {
    font-size: 3.2em;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

h1, h2 {
    text-align: center;
}
.post .meta {
    text-align: center;
}
.post .h2 {
    margin-top: 0;
}
.post {
    margin-top: 1em;
    margin-bottom: 3em;
}
.important {
    background: rgb(245, 250, 252);
    border: 4px solid rgb(51, 122, 183);
    border-radius: 2em;
    padding: 1em;
}

.white-section {
    padding-bottom: 2em;
}
.black-section {
    background: #111;
    color: white;
    padding-bottom: 2em;
}
.gray-section {
    background: #f4f4f4;
    color: black;
    padding-bottom: 2em;
}

strong {
    font-weight: 500;
}

blockquote {
    border: none;
    font-style: italic;
    margin-top: 1em;
}

.quoter {
    text-align: right;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2em;
}

.footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.link-btn {
    width: 33%;
    display: block;
    text-align: center;
    margin-top: 1em;
}
.btn {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #337ab7;
    color: #337ab7;
    background: none;
}
.btn:hover {
    border-color: #47aaff;
    color: #47aaff;
}
.btn:hover a {
    color: #47aaff;
}
.btn:active, .content .btn:active {
    border-color: black;
    color: black;
    box-shadow: none;
}

form {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.icon {
    width: 50%;
    padding: 1em;
}

.btn-group {
    position: static;
    width: 100%;
    margin: auto;
}
.btn-group .btn {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin: auto;
}

.input-group-row {
    width: 90%;
    margin: auto;
}
@media (min-width: 768px) {
    .input-group-row {
	width: 30%;
    }
}

/* Masonry */
.grid-item {
    width: 49%;
}
@media (min-width: 768px) {
    .grid-item {
	width: 24%;
    }
}

.exec-profile {
    background: #ddd;
    padding: 1em;
    margin: 0.5%;
    border-radius: 1em;
    text-align: center;
}
.exec-profile img {
    border-radius: 4px;
}
.exec-name {
    font-size: 1.25em;
}

/* Carousel */
.carousel {
    margin-bottom: 1.8em;
}
.carousel-img {
    background-size: cover;
    height: 35.16vw;
    position: relative;
}
.carousel img {
    width: 100vw;
    display: block;
}
.carousel-text {
    position: absolute;
    background: black;
    opacity: 0.85;
    bottom: 2em;
    color: white;
    padding: 1em;
    visibility: hidden;
}
@media (min-width: 768px) {
    .carousel-text {
	font-size: 1.5em;
	max-width: 50%;
	visibility: visible;
    }
}
.slick-dots {
    bottom: -32px;
}
.right {
    right: 2em;
}
.left {
    left: 2em;
}
.center {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
button .btn-carousel {
    border: 4px solid red;
    background-color: red;
}

p img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 1em;
}

img {
    max-width: 100%;
}

.content a:hover {
    color: #47aaff;
    text-decoration: none;
}

.page-padded {
    padding: 0 1.5em;
=======
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100);
@font-face {
    font-family: 'arial_light';
    src: url('assets/fonts/arial_mt_std_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Helvetica Neue',Helvetica,'arial_light',Arial,sans-serif;
    font-weight: 300;
    margin-top: 2em;
    background-color: #255E89;
    letter-spacing: 0.5pt;
    margin: 0px;
}
@media (min-width:768px) {
    body {
	margin-left: 10%;
	margin-right: 10%;
    }
}

#header-right {
    float: right;
    max-width: 40%;
}
#insignia {
    float: right;
    margin-top: 1em;
    margin-bottom: 2em;
}
#insignia img {
    width: auto;
    height: 4.8em;
}
@media (max-width:768px) {
    #search-form {
	display: none;
    }
}

.header {
    text-align: left;
    margin-top: 1.2em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.header-title {
    text-decoration: none;
    font-family: 'Work Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 5em;
    color: white;
}

#tree {
    margin-left: 0.1em;
    height: 4em;
    width: auto;
}
@media (max-width:768px) {
    .header {
	margin-right: 2em;
    }
    .header-tagline {
	font-size: 1em;
    }
    #tree {
	width: 0px;
    }
}

.header-title:hover {
    color: #05c0ff;
}

.header-tagline {
    color: black;
    font-size: 1.3em;
}

.nav-bar {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -1.5em;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-bar li {
    display: inline;
    float: center;
    padding: 0.5em;
    margin: 1em;
    position: relative;
}
  
.nav-bar li a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.nav-bar li a[href="#"] {
    cursor: default;
}

.nav-bar ul li:hover {
    cursor: default;
    background: white;
    border-radius: 10px 10px 0px 0px;
}
.nav-bar ul li:first-child:hover { /* home button */
    border-radius: 10px;
}

.nav-bar li:hover a {
    color: black;
}

.nav-bar ul li ul {
    visibility: hidden;
    min-width: 200px;
    position: absolute;
    text-align: left;
    left: 0;
    z-index: 999;
}

.nav-bar ul li:hover > ul,
.nav-bar ul li ul:hover {
    visibility: visible;
    background: white;
    margin-top: 0.45em;
    border-radius: 0px 10px 10px 10px;
}

.nav-bar ul li ul li {
    clear: both;
    padding: 0;
    width: 80%;
    display: block;
}

.nav-bar ul li ul li a:hover {
    color: #499273;
    text-decoration: none;
}

@media (max-width:768px) {
    .header-menu {
	margin-left: -2em;
	margin-right: -2em;
    }
    .nav-bar {
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
    }
    .nav-bar li {
	font-size: 0.9em;
	margin: 0px;
    }
    .nav-bar ul li ul {
	min-width: 160px;
    }
    .nav-bar ul li:hover > ul,
    .nav-bar ul li ul:hover {
	margin-top: 0.3em;
    }
    .nav-bar ul li ul li {
	margin: 0.5em;
    }
}

.content {
    /*
    background: rgba(238, 238, 238, 0.50);
    border-radius: 25px;
    padding: 2em;*/
}

.post, .page {
    background: #dddddd;
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 2em;
}

.post img, .page img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 2em;
}

#front-post {
    padding-top: 0.5em;
    display: block;
    border-radius: 0 0 20px 20px;
    background: none;
    color: white;
    margin-bottom: 0;
    padding-bottom: 2em;
}
#front-post a {
    color: white;
}
#front-post a:hover {
    color: #05c0ff;
}

.page-title, .post-title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: 'Helvetica Neue',Helvetica,'arial_light',Arial,sans-serif;
    letter-spacing: 0px;
    font-weight: 200;
    font-size: 2em;
    color: black;
}

.post-meta {
    font-size: 0.8em;
}

h2, h3 {
    margin-bottom: 0em;
    font-weight: 200;
    letter-spacing: 0px;
    font-family: 'Helvetica Neue',Helvetica,'arial_light',Arial,sans-serif;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}

.bigger {
    font-size: 1.3em;
}

strong, b {
    font-weight: 500;
}

p {
    margin-top: 0em;
    line-height: 1.5em;
    font-size: 1em;
}

a {
    color: black;
    /*text-decoration: none;*/
}
a:hover {
    color: #499273;
    /*text-decoration: none;*/
}

p ul, p ol {
    line-height: 1.25em;
}

.footer {
    margin-top: 1em;
    color: lightgray;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.footer a {
    color: white;
}
.footer a:hover {
    color: #05c0ff;
}

.carousel {
    margin-bottom: 2em;
}

.carousel img {
    width: 80vw;
    margin: auto;
    border-radius: 20px 20px;
    display: block;
}
@media (max-width:768px) {
    .carousel img {
	width: 100vw;
	border-radius: 0px;
    }
}

label {
    float: left;
    padding-right: 0.5em;
    min-width: 5%;
}

.form-entry {
    margin: 0.5em 0;
    vertical-align: middle;
}

input[type="text"], textarea {
    border: none;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica,'arial_light',Arial,sans-serif;
    font-weight: 300;
}
textarea {
    min-width: 50%;
    min-height: 5em;
}

.button, input[type="submit"] {
    color: black;
    border: 1px solid black;
    background: white;
    margin: 1em 0em;
    text-ation: none;
    /*background: white;*/
    border-radius: 10px;
    padding: 0.5em 0.8em;
    font-family: 'Helvetica Neue',Helvetica,'arial_light',Arial,sans-serif;
    font-size: 12pt;
    /*border: none;*/
    cursor: pointer;
}

.button:hover, input[type="submit"]:hover {
    border-color: #499273;
    color: #499273;
}

#search-button {
    padding: 0.3em;
    margin: 0em;
    font-weight: 300;
}

#front-post .button {
    color: white;
    background: transparent;
    border-color: white;
    margin: 1em;
    text-decoration: none;
}

#front-post .button:hover {
    border: 1px solid #05c0ff;
    color: #05c0ff;
    text-decoration: none;
}

#front-action-buttons {
    display: table;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
/*
#join-curb {
    border: 3px solid;
    border-color: #90288a;
}*/

/* columns */
@media (min-width: 768px) {
  .column {
      float: left;
      padding: 0.5em;
      box-sizing: border-box;
  }
  .column.c6 { width: 100%; }
  .column.c5 { width: 83.33%; }
  .column.c4 { width: 66.66%; }
  .column.c3 { width: 50%; }
  .column.c2 { width: 33.33%; }
  .column.c1 { width: 16.66%; }
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
>>>>>>> 81b5f0d1ecb5068ae589bad0ae9ef8b7f96431e2
}
