@import url(https://fonts.googleapis.com/css?family=Work+Sans:100);

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin-top: 2em;
    background-color: #255E89;
    letter-spacing: 0.5pt;
    margin: 0px;
}
@media (min-width:40em) {
    body {
	margin-left: 10%;
	margin-right: 10%;
    }
}

#insignia {
    float: right;
}
#insignia img {
    width: auto;
    height: 4.8em;
}

.header {
    text-align: left;
    margin-top: 1.2em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.header-title {
    text-decoration: none;
    font-family: 'Work Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 5em;
    color: white;
}

#tree {
    margin-left: 0.1em;
    height: 4em;
    width: auto;
}
@media (max-width:40em) {
    .header {
	margin-right: 2em;
    }
    .header-tagline {
	font-size: 1em;
    }
    #tree {
	width: 0px;
    }
}

.header-title:hover {
    color: #05c0ff;
}

.header-tagline {
    color: black;
    font-size: 1.3em;
}

.nav-bar {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -1.5em;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-bar li {
    display: inline;
    float: center;
    padding: 0.5em;
    margin: 1em;
    position: relative;
}
  
.nav-bar li a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.nav-bar ul li:hover {
    cursor: default;
    background: white;
    border-radius: 10px 10px 0px 0px;
}
.nav-bar ul li:first-child:hover { /* home button */
    border-radius: 10px;
}

.nav-bar li:hover a {
    color: black;
}

.nav-bar ul li ul {
    visibility: hidden;
    min-width: 200px;
    position: absolute;
    text-align: left;
    left: 0;
    z-index: 999;
}

.nav-bar ul li:hover > ul,
.nav-bar ul li ul:hover {
    visibility: visible;
    background: white;
    margin-top: 0.45em;
    border-radius: 0px 10px 10px 10px;
}

.nav-bar ul li ul li {
    clear: both;
    padding: 0;
    width: 80%;
    display: block;
}

.nav-bar ul li ul li a:hover {
    color: #499273;
    text-decoration: none;
}

@media (max-width:40em) {
    .nav-bar {
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
    }
    .nav-bar li {
	font-size: 0.8em;
	margin: 0px;
    }
    .nav-bar ul li ul:hover {
	margin-top: 0.1em;
    }
    .nav-bar ul li ul li {
	margin: 0.5em;
    }
}

.content {
    /*
    background: rgba(238, 238, 238, 0.50);
    border-radius: 25px;
    padding: 2em;*/
}

.post, .page {
    background: #dddddd;
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 2em;
}

.post img, .page img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 2em;
}

#front-banner img {
    border-radius: 20px 20px;
    max-width: 100%;
    display: block;
}
#front-post {
    padding-top: 0.5em;
    display: block;
    border-radius: 0 0 20px 20px;
    background: none;
    color: white;
    margin-bottom: 0;
    padding-bottom: 2em;
}
#front-post a {
    color: white;
}
#front-post a:hover {
    color: #05c0ff;
}

.page-title, .post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing: 0px;
    font-weight: 200;
    font-size: 2em;
    color: black;
}

.post-meta {
    font-size: 0.8em;
}

p {
    line-height: 1.5em;
    font-size: 1em;
}

a {
    color: black;
    /*text-decoration: none;*/
}
a:hover {
    color: #499273;
    /*text-decoration: none;*/
}

h2 {
    font-size: 1.2em;
    letter-spacing: 0px;
}

.footer {
    margin-top: 1em;
    color: lightgray;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.footer a {
    color: white;
}
.footer a:hover {
    color: #05c0ff;
}

.carousel {
    margin-bottom: 0.5em;
}
.slick-slide {
    width: 100vw;
}
.slick-slide img {
    width: 100vw;
}
@media (min-width: 40em) {
    .slick-slide {
	width: 80vw;
    }
    .slick-slide img {
	width: 80vw;
    }
}

label {
    float: left;
    width: 5%;
}

.form-entry {
    margin: 0.5em 0;
    vertical-align: middle;
}

#name, #netid {
    border: none;
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.button, #submit {
    color: black;
    border: 1px solid black;
    background: white;
    margin: 1em 0em;
    text-ation: none;
    /*background: white;*/
    border-radius: 10px;
    padding: 0.5em 0.8em;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12pt;
    /*border: none;*/
    cursor: pointer;
}

.button:hover, #submit:hover {
    border-color: #499273;
    color: #499273;
}

#front-post .button {
    color: white;
    background: transparent;
    border-color: white;
    margin: 1em;
    text-decoration: none;
}

#front-post .button:hover {
    border: 1px solid #05c0ff;
    color: #05c0ff;
    text-decoration: none;
}

#front-action-buttons {
    display: table;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
/*
#join-curb {
    border: 3px solid;
    border-color: #90288a;
}*/