@font-face { /* SF UI display */
    font-family: titleFont;
    src: url(assets/fonts/SF-UI-Display-Ultralight.otf)
}

@font-face { /* SF UI text */
    font-family: bodyFont;
    src: url(assets/fonts/SF-UI-Text-Light.otf)
}

body {
    font-family: bodyFont;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #245281;
}

#insignia {
    float: right;
}
#insignia img {
    width: auto;
    height: 4.8em;
}

.header {
    text-align: left;
    margin-top: 1.2em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.header-title {
    font-family: titleFont;
    font-size: 4.8em;
    color: white;
    text-decoration: none;
}

#tree {
    margin-left: 0.1em;
    height: 4em;
    width: auto;
}

.header-title:hover {
    color: #ccffff;
}

.header-tagline {
    color: black;
    font-size: 1.3em;
}

.nav-bar {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -1.5em;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-bar li {
    display: inline;
    float: center;
    padding: 0.5em;
    margin: 1em;
    position: relative;
}
  
.nav-bar li a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.nav-bar ul li:hover {
    cursor: default;
    background: white;
    border-radius: 10px 10px 0px 0px;
}
.nav-bar ul li:first-child:hover { /* home button */
    border-radius: 10px;
}

.nav-bar li:hover a {
    color: black;
}

.nav-bar ul li ul {
    visibility: hidden;
    min-width: 200px;
    position: absolute;
    text-align: left;
    left: 0;
    z-index: 999;
}

.nav-bar ul li:hover > ul,
.nav-bar ul li ul:hover {
    visibility: visible;
    background: white;
    margin-top: 0.45em;
    border-radius: 0px 10px 10px 10px;
}

.nav-bar ul li ul li {
    clear: both;
    padding: 0;
    width: 80%;
    display: block;
}

.nav-bar ul li ul li a:hover {
    text-decoration: none;
    color: red;
}

.content {
    /*
    background: rgba(238, 238, 238, 0.50);
    border-radius: 25px;
    padding: 2em;*/
}

.post, .page {
    background: lightgray;
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 2em;
}

.post img, .page img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.page-title, .post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: titleFont;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.post-meta {
    font-size: 0.8em;
}

p, .bottom-nav {
    font-size: 1em;
}

a {
    color: black;
}
a:hover {
    color: #00366c;
}

h2 {
    font-size: 1.2em;
}

.footer {
    margin-top: 1em;
    color: lightgray;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.footer a {
    color: lightgray;
}
.footer a:hover {
    color: #ccffff;
}