<!--
  <div class="row">
    <header class="page-header">
      <div class="page-title">
      {{title}}
      </div>
    </header>
  </div>-->

<div class="page">
  <div class="row">
    {{{content}}}
  </div>
</div>