.header {
    position: fixed;
    top: 0;
    t: 0;
    right: 0;
    left: 0;
    padding: 0.5em;
    z-index: 9999;
    height: 7.25em;
    background-color: white;
    /*margin-bottom: 3em;*/
}

.navbar-nav>li:hover {
    border-radius: 10px;
}
.navbar-nav>li a:hover {
    border-radius: 10px;
}
.dropdown-toggle {
    border-radius: 10px;
}
.dropdown-menu {
    background: #ffffff;
    padding: 0.25em;
    border-radius: 10px !important;
}

.header-menu {
    float: right;
}

.header-title {
    letter-spacing: 0.5pt;
    font-size: 3em;
    font-weight: 100;
    color: black;
    text-decoration: none;
}

.header-logo {
    height: 2em;
    margin-right: 0.5em;
}

.header-title:hover {
    color: black;
    text-decoration: none;
}

.header-tagline {
    font-size: 0.8em;
}

.navbar-default {
    background: transparent;
    border: 0;
    box-shadow: 0px 0px;
}

.page-header {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    border-bottom: none;
    font-size: 1.1em;
}

.content {
    float: clear;
    margin-top: 4em;
}

.post {
    margin-bottom: 3em;
    font-size: 1em;
}

.page-title, .post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: 300;
}
.post-title {
    text-align: center;
}
.page-title {
    margin-left: 0.5em;
}

.post-meta {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: -0.5em;
}

p, .bottom-nav {
    font-size: 1.15em;
}

.navbar a {
    color: black;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
/*
a:hover {
    color: red;
}*/

h2 {
    font-size: 1.2em;
}

.footer {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2em;
}

/* Carousel */
.carousel {
    margin-bottom: 4em;
    
}
.carousel img {
    width: 100vw;
    display: block;
}
.carousel-text {
    position: absolute;
    background: black;
    opacity: 0.8;
    bottom: 2em;
    right: 2em;
    max-width: 50%;
    color: white;
    padding: 1em;
    font-size: 1.5em;
}
button .btn-carousel {
    border: 4px solid red;
    background-color: red;
}

img {
    max-width: 100%;
}

.content a:hover {
    color: #47aaff;
    text-decoration: none;
}