<html>
  <head>
    <title>{{#if title}}{{title}}{{#else}}{{site.title}}{{#endif}}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- begin JQuery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- end JQuery -->

    <!-- Begin Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->

    <!-- begin slick -->
    <link rel="stylesheet" href="{{site.url}}/scripts/slick/slick.css">
    <link rel="stylesheet" href="{{site.url}}/scripts/slick/slick-theme.css">
    <!-- end slick -->

    <!-- begin masonry -->
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <!-- end masonry -->

    <script src="{{site.url}}/scripts/form.js"></script>

    <link rel="stylesheet" href="{{site.url}}/style.css">
  </head>
  <body>
    
    <div class="container-fluid">
      <div class="header">
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a href="{{site.url}}/index.html" class="header-title">
		<img src="{{site.url}}/images/logo.png" class="header-logo"/><span>{{site.title}}</span>
	      </a>
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#curb-navbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span> 
		<span class="icon-bar"></span>                       
	      </button>
	    </div>
	    <div class="collapse navbar-collapse navbar-right" id="curb-navbar">{{{nav}}}</div>
	  </div>
	</nav>
      </div>

      <div class="content">
	{{{content}}}
      </div>
      <div class="footer">
	<a href="https://www.facebook.com/cornellcurb/" target="_blank"><img src="{{site.url}}/images/fb-logo.png" width="36" style="border:none"></a>
	<a href="https://www.instagram.com/curb_cornell/" target="_blank"><img src="{{site.url}}/images/insta-logo.png" width="36" style="border:none"></a>
	
	<div style="margin-top:0.4em">{{site.author}}.</div>
	<div>Icons from <a href="http://www.flaticon.com">Flaticon</a>. Site powered by <a href="https://github.com/qema/nanosite">nanosite</a>.</div>
      </div>

    </div>
    
    <!-- begin slick -->
    <script src="{{site.url}}/scripts/slick/slick.min.js"></script>
    <!-- end slick -->
  </body>
</html>
